<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

    <body>
        <div class="add-Employee">
            <div class="row">
                <div class="columns">
                    <nav>
                        <%- include("../partials/navbar")%>
                    </nav>

                    <div class="container">
                        <div class="form">
                            <h1>New Employee</h1>
                            <h3>Enter the fields below to get started!</h3>

                            <form action="/add_new_employee" method="POST" enctype="multipart/form-data">
                                <input type="text" class="small" placeholder="Enter Employee's First Name"
                                    name="empName" required />
                                <input type="text" class="small" placeholder="Enter Employee's Last Name"
                                    name="empSurname" required />
                                <br />
                                <input type="number" class="long" placeholder="Enter Employee's ID Number"
                                    name="empIdNumber" required />
                                <br />
                                <br />
                                <input type="email" class="small" placeholder="Enter Employee's Email Address"
                                    name="empEmailAddress" required />
                                <input type="number" class="small" placeholder="Enter Employee's Phone Number"
                                    name="empPhoneNumber" required />
                                <br />

                                <select name="empPosition" required>
                                    <option hidden="true">
                                        Select Position
                                    </option>
                                    <option value="Back-End Developer">Back-End Developer</option>
                                    <option value="Business Analyst">Business Analyst</option>
                                    <option value="Front-End Developer">Front-End Developer</option>
                                    <option value="Full-Stack Developer">Full-Stack Developer</option>
                                    <option value="Scrum Master">Scrum Master</option>
                                    <option value="Team Leader">Team Leader</option>
                                    <option value="Tester">Tester</option>

                                </select>
                                <br />
                                <input type="file" class="long" placeholder="Enter Employee's Image" name="empImage"
                                    accept="image/*" required />
                                <br />
                                <br /><button>POST</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="columns" id="bg"></div>
            </div>
        </div>
    </body>

</html>