<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Tracker App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="/Assets/Icons/businessman.png" />
  <script src="../js/handleEmployee.js"></script>
</head>