<nav>
    <div class='nav-wrap'>

        <div class="topnav" id="myTopnav">
            <div class="row">
                <div class='column'>
                    <div class="topnav-left">
                        <img src="/Assets/Icons/businessman.png" alt="Logo" />
                    </div>
                </div>
    
                <div class='column'>
                    <div class="topnav-right" id="topnav-center" align="center">
                        <a href="/">View Employee</a>
                        <a href="/add">Add Employee</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</nav>