<nav>
    <div class='nav-wrap'>

        <div class="topnav" id="myTopnav">
            <div class="row">
                <div class='column'>
                    <div class="topnav-left">
                        <img src="/Assets/Icons/businessman.png" alt="Logo" />
                    </div>
                </div>

                <div class='column'>
                    <div class="topnav-right" id="topnav-center" align="center">
                        <ul>
                            <li>
                                <a href="/">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="/Assets/Icons/visitors.png" alt="" width="30">
                                            </td>
                                            <td>
                                                <div class="text">View Employee</div>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                            <li>
                                <a href="/add">
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="/Assets/Icons/add-user.png" alt="" width="30">
                                            </td>
                                            <td>
                                                <div class="text">Add Employee</div>

                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>